<ion-view view-title="Blood4Life">
    <ion-content>
        <!--<ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#/app/donors/{{playlist.id}}">
                {{playlist.title}}
            </ion-item>
        </ion-list>-->
        <div id="logo"></div>
        <div class="card">
           <div class="item item-text-wrap">
            Welcome to Blood4 Life !!
            Let's find you a donor..
           </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="button icon-left ion-ios-location button-assertive">
                    Current Location
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button icon-left ion-edit button-assertive">
                    Enter  Location
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>
