<ion-view view-title="Log in">
  <ion-content class="padding">
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="tel" placeholder="Mobile number" ng-model="data.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="data.password">
        </label>
      </div>
      <button class="button button-royal button-block" ng-click="login()">Log in</button>
    </form>
  </ion-content>
</ion-view>